@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

/* @media (prefers-color-scheme: dark) {
    :root {
    }
} */

html,
body {
    width: 100%;
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
}
